.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  background-color: #e4f8f1;
}

.contact-textt {
  flex: 1;
  padding: 0;
  margin: 0;
  margin-top: -200px;
}

.contact-textt h1 {
  font-size: 52px;
  margin-bottom: 15px;
  color: #1e1f1f;
  font-family: futura,sans-serif;
  margin-top: 29vh;
  margin-left: 15vh;
  
} 

.contact-textt p {
    font-family: futura, sans-serif;
  font-size: 16px;
  color: #1b1b1b;
  margin-left: 15vh;
}

.contact-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.contact-image img {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
}
.contact-btn{
  height: 5vh;
  width: 19vh;
  margin-top: 2vh;
    margin-left: 15vh;
  background-color: rgb(34, 172, 101);
  border: none;
  color: #edf4f8;
  border-radius: 5px;
  font-weight: bold;

  }
  .contact-btn:hover{
    background-color: #fff;
    color: black;
  }


  /* second */


  .features-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
}

.features-label {
  background-color: #00c37a;
  color: white;
  border: none;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.features-section h2 {
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold;
}

.underline {
  width: 100px;
  height: 3px;
  background-color: #00c37a;
  margin: 10px auto 30px auto;
  border-radius: 5px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  margin-top: 20px;
  margin-left: 45vh;
   margin-right: 45vh;
   gap: 10vh;
}

.feature-item {
  text-align: center;
  padding: 10px;
  background-color: #f3f4f5;
  height: 25vh;
  border-radius: 10px;
}

.feature-icon {
  font-size: 36px;
  color: #00c37a;
  margin-bottom: 10px;
}

.feature-item h4 {
  font-weight: bold;
  margin: 10px 0 5px;
}

.feature-item p {
  font-size: 14px;
  color: #333;
}
.proctoring-section {
  display: flex;
  
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 30px;
  gap: 40px;
  flex-wrap: wrap;
  margin-left: 25vh;
   margin-right: 25vh;
}

.proctoring-content {
  flex: 1;
  min-width: 300px;

}

.proctoring-label {
  background-color: #00c37a;
  color: white;
  border: none;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 3vh;
  display: flex;
 
 
}

.proctoring-description {
  font-size: 16px;
  color: #1a1a1a;
  margin-bottom: 4vh;
   font-family: Trebuchet MS;
   font-size: 19px;
}

.proctoring-list {
  list-style: none;
  padding: 0;
  margin: 0;
 
}

.proctoring-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  line-height: 1.5;
  color: #000;
}

.check-icon {
  color: #00c37a;
  margin-right: 10px;
  margin-top: 3px;
  font-size: 18px;

}

.proctoring-image {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.proctoring-image img {
  width: 100%;
  max-width: 500px;
}
