/* General layout */
.company-page {
  font-family: 'Futura', sans-serif;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 60px 80px;
  gap: 40px;
}

.section:nth-child(even) {
  background-color: #f4f8fb;
}

/* Image styles */
.section .image {
  flex: 1;
  max-width: 500px;
}

.section .image img {
  width: 100%;
  border-radius: 10px;
 
}

/* Text styles */
.section .content {
  flex: 1;
  max-width: 600px;
}

.section .content h1 {
  font-size: 36px;
  color: #2a9974;
  margin-bottom: 20px;
  font-family: "poppins";
}

.section .content p {
  font-size: 16px;
  line-height: 1.8;
  color: #333;
}



.btn:hover {
  background: linear-gradient(135deg, #17039a, #064fbe);
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(72, 157, 58, 0.4);
}

/* Thank you footer */
.thankyou {
  text-align: center;
  padding: 60px 30px;
  background-color: #e6efff;
  color: #002b64;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
}
