body {
  margin: 0;
  font-family: futura;
  animation: fadeIn 1.2s ease-in-out;
}

.signup-container {
  display: flex;
  height: 100vh;
  background-color: #fdfcfc;
  color: white;
  overflow: hidden;
}

.left-panel {
  width: 45%;
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slideInLeft 1s ease-out;
}

.logo1 {
  height: 40px;
  width: 40px;
  margin-right: px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 32px;
  color: #c3dad5;
  font-weight: bold;
}
.logo2{
    padding: 0;
    margin: 0;
    margin-top: -100px;
    margin-bottom: 40px;
}

.title {
  color: #fcfffe;
  font-size: 42px;
  margin-top: 30px;
  text-shadow: 1px 1px 5px rgba(0, 184, 148, 0.5);
}

.title span {
  color: #f6f7f6;
}
.span{
    font-size: 40px;

}

.subtitle {
  color: rgb(218, 218, 218);
  margin: 10px 0 10px;
  font-size: 16px;
}

.signup-form label {
  margin-top: 10px;
  font-size: 15px;
  display: block;
}

.input-group {
  display: flex;
  align-items: center;
  background: rgb(16 14 14);
  border: 1px solid rgb(51, 51, 51);
  padding: 10px;
  border-radius: 8px;
  margin-top: 5px;
  width: 80%;
  transition: border 0.3s, box-shadow 0.3s;
}

.input-group:hover {
  border-color: #00b894;
  box-shadow: 0 0 8px #00b894;
}

.input-group input {
  background: rgb(16 14 14);
  border: none;
  outline: none;
  color: white;
  flex: 1;
  font-size: 16px;
  margin-left: 10px;
  caret-color: #00b894;
}

.create-account {
  margin-top: 30px;
  background-color: #4636dd;
  border: none ;
  padding: 12px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  width: 82%;
  transition: background 0.3s, color 0.3s, transform 0.2s;
  
}
.edit{
    padding-left: 5px;
}

.create-account:hover {
  background-color: #1421a9;
  color: #fcfcfc;
  transform: scale(1.03);
}

.error-message {
  color: #ff4d4d;
  margin-top: 10px;
  font-size: 14px;
}

.have1{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 15px;
  color: #b3b3b3;
}

.logp {
  color: #3498db;
  text-decoration: none;
  font-weight: 500;
  margin-left: 290px;
}

.logp:hover {
  color: #00b894;
  text-decoration: underline;
}


.right-panel {
  width: 55%;
  background-color: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideInRight 1s ease-out;
}

.logini {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  padding-right: 80px;
}

/* Animations */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
