.Nav {
    margin: 0;
    padding: 0;
    display: flex;
    background: linear-gradient(45deg, rgb(255, 245, 202), rgb(84, 209, 101));
    height: 10vh;
    padding-left:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nova{
    color: rgb(52, 90, 54);
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    padding-left: 15px;

}
.exam{
     font-family: 'Montserrat', sans-serif;
    color: rgb(84, 209, 101);
    padding-top: 10px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border-radius: 30px; 
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  display: inline-block; 
  margin: 10px;
  margin-right: 1090px;
}

.signup {
  background-color: #4CAF50; 
  color: white;
  border: 2px solid #4CAF50;
}

.signup:hover {
  background-color: white;
  color: #4CAF50;
  transform: translateY(-5px); 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 

.LogIn {
  background-color: #007BFF; 
  color: white;
  border: 2px solid #007BFF; 
}

.LogIn:hover {
  background-color: white;
  color: #007BFF;
  transform: translateY(-5px); 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); 
}


@media (max-width: 768px) {
  button {
    width: 100%;             
    margin: 10px 0;       
  }
}

